<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/assets/vendors/bootstrap/css/bootstrap.css">
	<title>Inicio de sesión</title>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<div class="container">
				<h1>BeansBnb</h1>	
				<p class="lead">
					<!-- start slipsum code -->

					The path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of darkness, for he is truly his brother's keeper and the finder of lost children. And I will strike down upon thee with great vengeance and furious anger those who would attempt to poison and destroy My brothers. And you will know My name is the Lord when I lay My vengeance upon thee.

					<!-- please do not remove this line -->

					<div style="display:none;">
					<a href="http://slipsum.com">lorem ipsum</a></div>

					<!-- end slipsum code -->
	
				 </p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="col xm-12">
			<form method="post"  class="form-signin" action="/log-in">
				<h2 class="form-signin-heading" >Inicia Sesión</h2>
				<p>
					<input name='username' class="form-control" type="text" placeholder="Nombre de Usuario">
				</p>
				<p>
					<input name='password' class="form-control" placeholder="Contraseña" type="password">
				</p>
				<p>
					<button type="submit" class="btn btn-lg btn-primary btn-block">Inicia Sesión</button>
				</p>
			</form>
		</div>
	</div>
</body>
</html>